body {
    margin-bottom: 100px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

nav {
    margin-bottom: 100px;
}

.card img {
    height: 400px;
    width: 100%;
}

.card-footer {
    border-top: 0;
}
